<div id="preloader" class="loader">
    <div class='sk-three-bounce'>
        <div class='sk-bounce-1 sk-child'></div>
        <div class='sk-bounce-2 sk-child'></div>
        <div class='sk-bounce-3 sk-child'></div>
    </div>
</div>
<div id="pjax-container">
    <div id="block-content">
        <section class="section section-auth bagblack textsite titlesite">
            <div class="container">
                <div class="row mt-5 mb-5">
                    <div class="col-md-offset-3 col-md-6">
                        <div class="b--shadow b--auth">
                            <div class="row">
                                <div class="col-sm-12 col-md-12">
                                    <div class="b--auth__left">
                                        <div class="text-center">
                                            <a href="index-2.html" class="logo" data-pjax="">
                                                <img src="/assets/img/logo-img.svg" alt="Golden" style="width: 180px;">
                                            </a>
                                        </div>
                                        <div class="b--shadow__title-bordered">
                                            <div class="title-bordered__wrapper">
                                                <div class="title-bordered">RESET PASSWORD</div>
                                            </div>
                                        </div>


                                        <script language=javascript>
                                            function checkform() {
                                                if (document.forgotform.email.value == '') {
                                                    alert("Please type your email!");
                                                    document.forgotform.email.focus();
                                                    return false;   
                                                }
                                                if (document.forgotform.password.value == '') {
                                                    alert("Please type your password!");
                                                    document.forgotform.password.focus();
                                                    return false;   
                                                }
                                                if (document.forgotform.password_confirmation.value == '') {
                                                    alert("Please type your password confirmation!");
                                                    document.forgotform.password_confirmation.focus();
                                                    return false;   
                                                }
                                                if (document.forgotform.password.value != document.forgotform.password_confirmation.value) {
                                                    alert("Passwords do not match!");
                                                    document.forgotform.password_confirmation.focus();
                                                    return false;   
                                                }
                                                return true;
                                            }

                                        </script>






                                        <form method=post name=forgotform onsubmit="return checkform();">
                                            <%- include("./partials/messages") %>
                                            <input type=hidden name="email" value="<%= email %>">
                                            <input type=hidden name="code" value="<%= code %>">
                                            <div class="form-group">
                                                <label>New Password *</label>
                                                <input type=text name='password' value="" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Confirm Password *</label>
                                                <input type=text name='password_confirmation' value="" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-warning btn-block">RESET PASSWORD</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <link rel="stylesheet" href="/assets/libs/bootstrap/fileinput.min.css">
    <script src="/assets/libs/bootstrap/bootstrap.min.js"></script>
    <script src="/assets/libs/bootstrap/fileinput.min.js"></script>
</div>